* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

/* MAIN TITLE STARTS HERE */

h1::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform 0.3s ease;
}

/* MAIN TITLE ENDS HERE */

/* HMTL - BODY STARTS HERE */

.tags {
  position: absolute;
  font-size: 2em;
  font-family: "La Belle Aurore", cursive;
}

.tags-t1 {
  font-size: 2.2em;
  margin: 2.8em 0 0 2em;
}

.tags-t2 {
  font-size: 2.2em;
  margin: 4.1em 0 0 3em;
}

.tags-e1 {
  right: 4em;
  margin-top: -2em;
}

.tags-e2 {
  right: 5em;
  margin-top: -3.5em;
}

/* HMTL - BODY END HERE */

/* NAVBAR STARTS HERE */

.menu-toggle {
  position: fixed;
  right: 0;
  margin: 2em;
  color: white;
  z-index: 1;
  mix-blend-mode: difference;
}

.menu {
  display: block;
}

.menu-toggle ion-icon {
  font-style: 16px;
  mix-blend-mode: difference;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  z-index: 1;
  opacity: 0;
}

.overlay ion-icon {
  position: fixed;
  right: 0;
  margin: 2em;
  color: white;
}

.overlay ul {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  list-style: none;
}

.overlay ul li {
  font-size: 84px;
}

@media (max-width: 900px) {
  .overlay ul li {
    font-size: 30px;
    padding: 10px 0;
  }
}

.overlay ul li a {
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-family: "Times New Roman";
  text-transform: uppercase !important;
}

.overlay ul li a:hover {
  text-decoration: none;
  color: white;
}

.media {
  position: fixed;
  mix-blend-mode: difference;
  left: 0;
  bottom: 11em;
  margin: 2em;
  z-index: 2;
}

.media ul {
  list-style: none;
}

.media ul li {
  padding: 10px 0;
}

.media ul li a {
  color: white;
}

/* NAVBAR ENDS HERE */

/* HERO SECTION STARTS HERE */

.hero-section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80vh;
  background: #0f0f0f;
  -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.75);
}

.hero-logo {
  position: fixed;
  margin: 2em;
  color: white;
  font-family: "Cosi Azure";
  font-style: 16px;
  mix-blend-mode: difference;
  z-index: 2;
}

.hero-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.75);
}

.hero-img img {
  width: 100%;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 900px) {
  .hero-title .letter {
    font-size: 24px !important;
  }
}

.hero-title .letter {
  display: inline-block;
  opacity: 0;
  font-size: 9vw;
  margin-top: 1em;
  color: white;
  font-family: "Times New Roman";
  text-transform: uppercase !important;
}

/* HERO SECTION ENDS HERE */

/* ABOUT SECTION STARTS HERE */

.about-section {
  height: 55em;
  padding: 18em 0;
  -webkit-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
}

.about-section h1 {
  font-size: 84px;
  font-family: "Times New Roman";
  text-transform: uppercase;
}

.about-section h3 {
  font-family: Helvetica;
  padding: 8px 0;
  margin-bottom: 20px;
  font-style: italic;
}

.about-link {
  margin: 50px 0;
}

.about-link a {
  color: black;
  padding: 18px 36px;
  border: 1px solid black;
  font-size: 12px;
  letter-spacing: 4px;
}

.about-link a:hover {
  text-decoration: none;
  color: white;
  background: black;
}

/* ABOUT SECTION ENDS HERE */

/* PICTURES SECTION STARTS HERE */

.project-section {
  background: #0f0f0f;
  padding-top: 120px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.75);
}

.project-section h1 {
  font-size: 84px;
  font-family: "Times New Roman";
  text-transform: uppercase;
  color: white;
}

.project-section p {
  color: grey;
  width: 72%;
}

.project-heading {
  margin-bottom: 120px;
}

.project-img {
  width: 100%;
  object-fit: cover;
  height: 80vh;
}

.project {
  margin: 0 !important;
  padding: 0 !important;
}

/* PICTURES SECTION ENDS HERE */

/* SKILLS & EXPERIENCE SECTION STARTS HERE */

.skills {
  background-color: #0f0f0f;
  height: 35em;
  color: #fff;
  padding: 7em 0;
  -webkit-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
}

.skills h1 {
  font-size: 84px;
  font-family: "Times New Roman";
  text-transform: uppercase;
  color: white;
}

/* SKILLS & EXPERIENCE SECTION ENDS HERE */

/* CONTACT SECTION STARTS HERE */

.social-media {
  height: 35em;
  padding: 7em 0;
  margin-top: 120px;
}

.social-media h1 {
  font-size: 84px;
  font-family: "Times New Roman";
  text-transform: uppercase;
}

.social-media h3 {
  font-family: Helvetica;
  padding: 8px 0;
  margin-bottom: 20px;
  font-style: "Times New Roman";
}

.social-icons {
  margin: 0 !important;
  padding: 0 !important;
}

.social-icons ul {
  margin: 80px 0 !important;
  padding: 0 !important;
}

.social-icons ul li {
  display: inline-block;
  list-style: none;
  padding-right: 40px;
}

.social-icons ul li a {
  color: black;
  font-style: italic;
  font-family: "Cormorant";
}

.mail {
  font-family: italic;
  text-decoration: underline;
}

/* CONTACT SECTION ENDS HERE */

/* BACK TO TOP BUTTON STARTS HERE */

.backtotop,
.backtotop::after,
.backtotop::before,
.backtotop .backtotop-morph {
  transition: all 250ms ease-in-out 0s;
}

.backtotop {
  border: 0px dotted white;
  width: 50px;
  height: 50px;
  right: 25px;
  bottom: 20px;
  position: fixed;
  mix-blend-mode: difference !important;
  cursor: pointer;
  transform: rotate(0deg);
  transform-origin: center center 0;
  z-index: 1000;
}

.backtotop::before {
  width: 18px;
  height: 4px;
  left: 6px;
  top: 56%;
  position: absolute;
  background-color: white;
  content: "";
  transform: rotate(-45deg) translateY(-50%);
  transform-origin: center top 0;
}

.backtotop::after {
  width: 25px;
  height: 4px;
  right: 5px;
  top: 50%;
  position: absolute;
  background-color: white;
  content: "";
  transform: rotate(45deg) translateY(-50%);
  transform-origin: center top 0;
}

.backtotop .backtotop-morph {
  background-color: white;
  width: 15px;
  height: 4px;
  left: 100%;
  top: 45%;
  position: absolute;
  opacity: 0;
  margin-bottom: -20px;
  transform: translate(-50%);
}

.backtotop .backtotop-morph::before {
  width: 0;
  height: 0;
  left: -7px;
  top: -4px;
  position: absolute;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 6px 10px 6px 0;
  content: "";
}

.backtotop:hover {
  transform: rotate(90deg);
}

.backtotop:hover .backtotop-morph {
  left: 40%;
  opacity: 1;
}

.backtotop:hover::before {
  width: 30px;
  left: 10px;
  top: 30%;

  background-color: white;
  transform: rotate(0deg) translateY(-8px);
}

.backtotop:hover::after {
  width: 30px;
  right: 10px;
  top: 60%;
  background-color: white;
  transform: rotate(0deg) translateY(8px);
}

/* BACK TO TOP BUTTON ENDS HERE */

/* FOOTER STARTS HERE */

footer {
  width: 100%;
  height: 6em;
  padding: 1.5em 0;
  background-color: #000;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
}

/* FOOTER ENDS HERE */
